*{margin:0;
padding:0;
box-sizing: border-box;}

.font-open-sense{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;}

  .logo h2{
    font-size: 45px;
    font-weight: 900;
  }
  .orange{color:#FD6E0A;}

 header{background-color:hsl(0, 47%, 97%);
padding-top:50px;} 

nav{
    width:71%;
    max-width:1140px;
    margin:0px auto;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn{background-color: #FD6E0A;
    padding: 18px 35px;
border: none;
border-radius: 5px;
font-size: 20px;
font-weight: 900;
color: aliceblue;}